@tailwind base;
@tailwind components;
@tailwind utilities;

@import "variables";

@layer base {
  html {
    @apply h-full;
  }

  body {
    @apply h-full bg-[#F2F6FA];
  }
}

@layer components {
  .wrapper {
    @apply flex min-h-screen;
  }
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 11px;
  font-size: 11px;

  //body.lock
  &.lock {
    overflow: hidden;

    //@media (max-width: $mobile) {
    //  overflow: hidden;
    //}
  }
}

h3 {
  line-height: normal;
}

th {
  @apply font-normal;
}
